{% extends "home.html" %} {% block title %}Home - Nilton's Portfolio{% endblock %} {% block content
%}
<section class="about-section">
	<h3>Main Programming Languages:</h3>
	<ul class="stack-list-program"">
		<li><img src="{{ url_for('static', filename='img/python_icon.jpeg') }}" alt="Python logo"/></li>
		<li><img src="{{ url_for('static', filename='img/r_icon.jpeg') }}" alt="R logo"/></li>
		<li><img src="{{ url_for('static', filename='img/sql_icon.png') }}" alt="SQL logo"/></li>
	</ul>

	<h3>Data Processing: </h3>
	<ul class="stack-list-data">
		<li><img src="{{ url_for('static', filename='img/pandas_icon.png') }}" alt="Pandas logo"/></li>
		<li><img src="{{ url_for('static', filename='img/numpy_icon.png') }}" alt="Numpy logo"/></li>
		<li><img src="{{ url_for('static', filename='img/matplot_icon.jpeg') }}" alt="Matplotlib logo"/></li>
		<li><img src="{{ url_for('static', filename='img/seaborn_icon.jpeg') }}" alt="Seaborn logo"/></li>
		<li><img src="{{ url_for('static', filename='img/scikit-learn_icon.png') }}" alt="Scikit-Learn logo"/></li>
	</ul>

	<h3>Cloud Computing: </h3>
	<ul class="stack-list-cloud"">
		<li><img src="{{ url_for('static', filename='img/heroku_icon.jpeg') }}" alt="Heroku logo"/></li>
	</ul>

	<h3>Data Base: </h3>
	<ul class="stack-list-DB"">
		<li><img src="{{ url_for('static', filename='img/postgres_icon.png') }}" alt="Postgres logo"/></li>
		<li><img src="{{ url_for('static', filename='img/sqlalchemy_icon.png') }}" alt="SQLAlchemy logo"/></li>
	</ul>

	<h3>Apps: </h3>
	<ul class="stack-list-app"">
		<li><img src="{{ url_for('static', filename='img/flask_icon.png') }}" alt="Flask logo"/></li>
		<li><img src="{{ url_for('static', filename='img/html_icon.png') }}" alt="HTML logo"/></li>
		<li><img src="{{ url_for('static', filename='img/css_icon.png') }}" alt="CSS logo"/></li>
		<li><img src="{{ url_for('static', filename='img/javascript_icon.png') }}" alt="JavaScript logo"/></li>
	</ul>
</section>
{% endblock %}
